$theme-1a: #effff4;
$theme-2a: #c7eaea;
$theme-3a: #4e7c7c;
$theme-4a: #353f44;
$theme-5a: #070f14;
$theme-1b: #ffc187;
$theme-2b: #ff6a35;
$theme-3b: #ff392b;
$theme-4b: #e9190f;
$theme-5b: #7f020f;

$body-color: $theme-5a;
$body-bg: $theme-2a;

$theme-colors: (
  "primary": $theme-1a,
  "secondary": $theme-2a,
  "success": $theme-3a,
  "info": $theme-4a,
  "warning": $theme-3b,
  "danger": $theme-2b,
  "light": $theme-1b,
  "dark": $theme-5b
);

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  min-height: 30px;
}

.navbar-brand {
  min-height: 30px;
  font-size: 20px;
}
